@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
.layout {
  @apply max-w-[1100px] mx-auto px-6 py-6;
}

* {
  font-family: "Signika Negative", sans-serif;
}

.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat
    linear-gradient(
      #974fd0 calc(50% - 10px),
      #0000 0 calc(50% + 10px),
      #974fd0 0
    );
  background:
    var(--c) 0% 100%,
    var(--c) 50% 100%,
    var(--c) 100% 100%;
  background-size: 20% calc(200% + 20px);
  animation: l4 1s infinite linear;
}
@keyframes l4 {
  33% {
    background-position:
      0% 50%,
      50% 100%,
      100% 100%;
  }
  50% {
    background-position:
      0% 0%,
      50% 50%,
      100% 100%;
  }
  66% {
    background-position:
      0% 0%,
      50% 0%,
      100% 50%;
  }
  100% {
    background-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
}
